.header{
    grid-area: h;
    background-color: black;

}
.header img{
    height: 50%;
    margin-left: 20px;
    margin-top: 20px;
}

.loginBlock{
    float: right;
    color: white;
}

.loginBlock a{
    color: white;
}