
.pageNumber{
    display: inline-block;
    margin-right: 5px;
    text-align: center;
    width: 40px;
    border-radius: 20px;
    border: 1px solid black;
    user-select: none;
}

.pageNumber:hover{
    cursor: pointer;
}

.pageNumber:focus{
    outline: 1px solid black;
}

.selectedPage{
    color: white;
    background-color: black;
}


