.userItem{
    display: grid;
    grid-template-areas: " photo info"
    "btn info ";
    grid-template-columns: 170px 1fr;
    grid-template-rows: 150px 50px;
}

.userPhoto{
    grid-area: photo;
}

.userPhoto img{
    height: 100%;
}

.userActionBtn{
    grid-area: btn;
}

.userInfo{
    grid-area: info;
}
