@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body{
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: black;
}
*, *::after,*::before{
  box-sizing: inherit;
}
.app-wrapper{
  display: grid;
  grid-template-areas: "h h"
                       "n c";
  grid-template-rows: 90px 1fr;
  grid-template-columns: 88px 1fr;
  max-height: 100vh;

}

.app-wrapper-content{
  height: calc(100vh - 90px);
  grid-area: c;
  background-color: white;
  overflow-y: auto;
}



